<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../static/images/mbicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicBrain</title>
    <link rel="stylesheet" href="../static/css/spotify.css">
</head>

<body>
    <div class="container" id="container">
        <form class="help">
            <br><br>
            <h1 class="heading">🎵Welcome to MusicBrain🎵</h1>
            <h1 style="color: #9b59b6;">{{username}}!</h1>
            <br>
            <h2>Almost Done!</h2>
            <label style="text-align: justify;">
                Hey <b>Melomaniac</b>,
                <br>
                Allow MusicBrain to obtain data from your spotify account.
                We only obtain your music listening history to generate tailor made music recommendations for you.
                <br>
                Your privacy is important to us! We will never share your data with third-parties.</label>
            <br><br><br>
            <button class="cnt-spt" onclick="connectToSpotify();return false">Connect to Spotify</button>
            <!-- <button>Submit</button> -->
            <script>
                function connectToSpotify() {
                    console.log('called')
                    window.location.replace("https://accounts.spotify.com/authorize?client_id=50212808d83d47eea824f30a089b76b4&response_type=code&redirect_uri=https://musicbrain.herokuapp.com/callback&scope=user-read-private+user-library-modify+user-library-read+user-top-read+user-read-currently-playing+user-read-recently-played+playlist-modify-private+playlist-read-private+playlist-read-collaborative+playlist-modify-public")
                }
            </script>
        </form>
    </div>
</body>
</html>