<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>MusicBrain</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="shortcut icon" href="../static/images/mbicon.ico">
		<link rel="stylesheet" type="text/css" href="../../static/css/animate.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/line-awesome.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/line-awesome-font-awesome.min.css">
		<link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/jquery.mcustomscrollbar.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/lib/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="../../static/lib/slick/slick-theme.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css">
	</head>
	
	
<body oncontextmenu="return false;">	
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="../../static/images/mblogo.png" alt=""></a>
					</div>
					<!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div>
					<!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/feed" title="MusicBrain">
									<span><img src="../../static/images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
							<li>
								<a href="/profile/{{username}}" title="">
									<span><img src="../../static/images/icon4.png" alt=""></span>
									Profile
								</a>
							</li>
							<li>
								<a href="/profile/trends" title="">
									<span><img src="../../static/images/trends.png" alt=""></span>
									Insights
								</a>
							</li>
							<li>	
								<a href="#" title="" class="not-box-open">	
									<span><img src="../static/images/icon7.png" alt=""></span>	
									Notification	
								</a>	
								<div class="notification-box noti" id="notification">	
									<div class="nt-title">	
										<h4>Setting</h4>	
										<a href="#" title="">Clear all</a>	
									</div>	
									<div class="nott-list">	
										{% for friend in requested %}	
										<div class="notfication-details">	
											<div class="noty-user-img">	
												<img src="../static/images/resources/ny-img1.png" alt="">	
											</div>	
											<div class="notification-info">	
												<h3><img src="https://api.adorable.io/avatars/50/{{friend}}.png"	
														alt=""><a href="/profile/{{friend}}" title="">{{friend}}</a>	
												</h3>	
												<span><button type="submit" value={{friend}}	
														onclick="accept(value);return false">Accept</button></span>	
											</div>	
											<!--notification-info -->	
										</div>	
										{% endfor %}	
										<div class="view-all-nots">	
											<a href="#" title="">View All Notification</a>	
										</div>	
									</div>	
									<!--nott-list end-->	
								</div>	
								<!--notification-box end-->	
							</li>
							<li>
								<a href="/logout" title="">
									<span><img src="../../static/images/logout.png" alt=""></span>
									Logout
								</a>
							</li>
						</ul>
					</nav>
					<!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					<!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<!-- <img src="https://api.adorable.io/avatars/1/{{username}}.png" alt=""> -->
							<a href="#" title="">{{username}}</a>
						</div>
						
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					{% if is_followers %}
					<h3>Followers</h3>
					{% else %}
					<h3>Following</h3>
					{% endif %}
				</div><!--company-title end-->
				<div class="companies-list">
					<div class="row">
						{%	for friend in friends	%}
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="company_profile_info">
								<div class="company-up-info">
									<img src="https://api.adorable.io/avatars/50/{{friend.friend}}.png" alt="">
									<h3>{{friend.friend}}</h3>
									{% if friend.is_friend %}
										{% if is_user %}
											{% if is_followers %}
											<ul>
												<li><button type="submit"value={{friend.friend}} class="follow" onclick="request(value);return false">Remove</button></li>
												<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
											</ul>
											{% else %}
											<ul>
												<li><button type="submit"value={{friend.friend}} class="follow" onclick="requestUnfollow(value);return false">Unfollow</button></li>
												<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
											</ul>
											{% endif %}
										{% else %}
										<ul>
											<li><a href="#" title="" class="follow">Following</a></li>
											<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										</ul>
										{% endif %}
									{% elif friend.is_requested %}
										{% if is_user %}
											{% if is_followers %}
											<ul>
												<li><button type="submit"value={{friend.friend}} class="follow" onclick="request(value);return false">Remove</button></li>
												<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
											</ul>
											{% else %}
											<ul>
												<li><a href="#" title="" class="flww"><i class="la la-plus"></i>
														Requested</a>
												</li>
											</ul>
											{% endif %}
										{% else %}
										<ul>
											<li><a href="#" title="" class="flww"><i class="la la-plus"></i>
													Requested</a>
											</li>
										</ul>	
										{% endif %}
									{% else %}
										{% if is_user %}
										<ul>
											<li><button type="submit"value={{friend.friend}} class="follow" onclick="request(value);return false">Remove</button></li>
											<li><a href="#" title="" class="message-us"><i class="fa fa-envelope"></i></a></li>
										</ul>
										{% else %}
										<ul class="flw-hr">
											<li><button type="submit"value={{friend.friend}} class="follow" onclick="requestFollow(value);return false">Follow</button>
											</li>
										</ul>
										{% endif %}
									{% endif %}
								</div>
								<a href="/profile/{{friend.friend}}" title="" class="view-more-pro">View Profile</a>
							</div><!--company_profile_info end-->
						</div>
						{% endfor %}
						
					</div>
				</div><!--companies-list end-->
			</div>
		</section><!--companies-info end-->
		
	</div><!--theme-layout end-->
	<script type="text/javascript" src="../../static/js/flatpickr.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/popper.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/lib/slick/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<script>
		function request(toFriend)
		{
			fetch('/profile/request-follow', {
				method: 'DELETE',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"username": toFriend,
					"endpoint": "unfriend",
					"type": "Remove"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}
		function accept(toFriend)
		{
			fetch('/profile/request-follow', {
				method: 'POST',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"friend": toFriend,
					"endpoint": "accept"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}
		function requestFollow(toFriend)
		{
			fetch('/profile/request-follow', {
				method: 'POST',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"friend": toFriend,
					"endpoint": "new"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}
		function requestUnfollow(toFriend)
		{
			fetch('/profile/request-follow', {
				method: 'DELETE',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"friend": toFriend,
					"endpoint": "unfriend",
					"type": "Unfollow"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}
	</script>
</body>

</html>