<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>MusicBrain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="../static/images/mbicon.ico">
	<link rel="stylesheet" type="text/css" href="../../static/css/animate.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/line-awesome.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/line-awesome-font-awesome.min.css">
	<link href="../../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/jquery.mcustomscrollbar.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../../static/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="../static/css/top10.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>


<body oncontextmenu="return false;">
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="../../static/images/mblogo.png" alt=""></a>
					</div>
					<!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div>
					<!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/feed" title="MusicBrain">
									<span><img src="../../static/images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
							<li>
								<a href="/profile/{{username}}" title="">
									<span><img src="../../static/images/icon4.png" alt=""></span>
									Profile
								</a>
							</li>
							<li>
								<a href="/profile/trends" title="">
									<span><img src="../../static/images/trends.png" alt=""></span>
									Insights
								</a>
							</li>
							<li>	
								<a href="#" title="" class="not-box-open">	
									<span><img src="../static/images/icon7.png" alt=""></span>	
									Notification	
								</a>	
								<div class="notification-box noti" id="notification">	
									<div class="nt-title">	
										<h4>Setting</h4>	
										<a href="#" title="">Clear all</a>	
									</div>	
									<div class="nott-list">	
										{% for friend in requested %}	
										<div class="notfication-details">	
											<div class="noty-user-img">	
												<img src="../static/images/resources/ny-img1.png" alt="">	
											</div>	
											<div class="notification-info">	
												<h3><img src="https://api.adorable.io/avatars/50/{{friend}}.png"	
														alt=""><a href="/profile/{{friend}}" title="">{{friend}}</a>	
												</h3>	
												<span><button type="submit" value={{friend}}	
														onclick="accept(value);return false">Accept</button></span>	
											</div>	
											<!--notification-info -->	
										</div>	
										{% endfor %}	
										<div class="view-all-nots">	
											<a href="#" title="">View All Notification</a>	
										</div>	
									</div>	
									<!--nott-list end-->	
								</div>	
								<!--notification-box end-->	
							</li>
							<li>
								<a href="/logout" title="">
									<span><img src="../../static/images/logout.png" alt=""></span>
									Logout
								</a>
							</li>
						</ul>
					</nav>
					<!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					<!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<!-- <img src="https://api.adorable.io/avatars/1/{{username}}.png" alt=""> -->
							<a href="#" title="">{{username}}</a>
						</div>
						
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<section class="companies-info">
			<div class="container">
				<div class="company-title">
					{% if is_followers %}
					<h3>Followers</h3>
					{% else %}
					<h3 style="font-size: 30px;color:#6c757d;">Insights</h3>
					{% endif %}
				</div>
				<!--company-title end-->
				<div class="companies-list">			
					<div class="row_for_trends">
						<canvas id="radar-chart" width="600" height="450"></canvas>
						<script>
							console.log({{days_seven|safe}},{{days_ten|safe}})
							new Chart(document.getElementById("radar-chart"), {
								type: 'radar',
								data: {
									labels: ["Happy", "Exuberant", "Energetic", "Frantic", "Anxious/Sad", "Depression", "Calm", "Contentment"],
									datasets: [
										{
											label: "30 days",
											fill: true,
											backgroundColor: "rgba(46, 204, 113,0.2)",
											borderColor: "rgba(46, 204, 113,0.4)",
											pointBorderColor: "#fff",
											pointBackgroundColor: "rgba(46, 204, 113,0.2)",
											data: {{ days_thirty| safe }},
											fontSize: 20
										},
										{
											label: "10 days",
											fill: true,
											backgroundColor: "rgba(69, 247, 105, 0.21)",
											borderColor: "#45f769",
											pointBorderColor: "#fff",
											pointBackgroundColor: "#45f769",
											data: {{ days_ten| safe }},
											fontSize: 20
										},
										{
											label: "7 days",
											fill: true,
											backgroundColor: "rgba(69, 132, 247, 0.21)",
											borderColor: "#4584f7",
											pointBorderColor: "#fff",
											pointBackgroundColor: "#4584f7",
											data: {{ days_seven| safe }},
											fontSize: 20
										},
										{
											label: "2 days",
											fill: true,
											backgroundColor: "rgba(230, 71, 71, 0.21)",
											borderColor: "#e64747",
											pointBorderColor: "#fff",
											pointBackgroundColor: "#e64747",
											data: {{ days_two| safe }},
											fontSize: 20
										}
								]
								},
								options: {
								title: {
									display: true,
									text: 'Distribution in % of your mood',
									fontSize: 40
								}
							}
							});
						</script>

					</div>
					<div class="row_for_trends">
						<div class="column_half">
							<canvas id="MusicBrain_Top10" width="400" height="350"></canvas>
							<script>
								new Chart(document.getElementById("MusicBrain_Top10"), {
									type: 'horizontalBar',
									backgroundColor: "#F5DEB3",
									data: {
										labels: {{ top10_Global_songName| safe }} ,
									datasets: [

									{
										label: "No. of times listened",
										backgroundColor: "#ff9999",
										data: {{ top10_Global_songCount | safe }}
												}

								]
										},
									options: {
									scales: {
										xAxes: [{
											ticks: {
												beginAtZero: true,
												max: 5
											}
										}]
									},
									layout: {
										padding: {
											left: 0,
											right: 0,
											top: 60,
											bottom: 0
										}
									},

									legend: { display: true },
									title: {
										display: true,
										text: 'MusicBrain Top 10',
										fontSize: 36
									}

								}
									});
							</script>
						</div>

						<div class="column_half">
							<canvas id="MusicBrain_Top10Friends" width="400" height="350"></canvas>
							<script>
								new Chart(document.getElementById("MusicBrain_Top10Friends"), {
									type: 'horizontalBar',
									backgroundColor: "#F5DEB3",
									data: {
										labels: {{ top10_myFriends_songName| safe }},
									datasets: [

									{
										label: "No. of times listened",
										backgroundColor: "#ffa366",
										data: {{ top10_myFriends_songCount | safe }}
											}

								]
									},
									options: {
									scales: {
										xAxes: [{
											ticks: {
												beginAtZero: true,
												max: 5
											}
										}]
									},
									layout: {
										padding: {
											left: 0,
											right: 0,
											top: 60,
											bottom: 0
										}
									},

									legend: { display: true },
									title: {
										display: true,
										text: 'Top 10 songs among my friends ',
										fontSize: 36
									}

								}
								});
							</script>
						</div>

					</div>

					<div class="row_for_trends">
						<canvas id="pie-chart" width="800" height="350"></canvas>
						<script>
								n =  new Date();
								y = n.getFullYear();
								d = n.getDate();
								m = n.getMonth() + 1;
								var dates = new Array();
								var i,da;
								for (i = 0; i < 7; i++) {
									d = n.getDate() - i;
    								da = d + "/" + m + "/" + y
    								dates.push(da)
									}

							new Chart(document.getElementById("pie-chart"), {
									type: 'pie',
								data: {
									labels: dates,
									datasets: [{ 
									label: "No of songs listened to ",
										backgroundColor: ["#74b9ff","#fab1a0","#55E6C1","#81ecec","#a29bfe","#fffa65","#f78fb3"],
										data: {{ activity_inPast7Days| safe}}
									}]
								},
								options: {
									layout: {
									padding: {
									left: 0,
										right: 0,
										top: 80,
										bottom: 0
									}
								},
								title: {
									display: true,
									text: 'Your activity in the past 7 days',
									fontSize: 35
								}
							}
							});
						</script>
					</div>
				</div>
				<!--companies-list end-->
			</div>
		</section>
		<!--companies-info end-->

	</div>
	<!--theme-layout end-->
	<script type="text/javascript" src="../../static/js/flatpickr.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/popper.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/lib/slick/slick.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
	<script>
		function request(toFriend) {
									fetch('/profile/request-follow', {
										method: 'DELETE',
										headers: {
											"Content-Type": "application/json"
										},
										body: JSON.stringify({
											"username": toFriend,
											"endpoint": "unfriend",
											"type": "Remove"
										})
									})
										.then(response => response.json())
										.then(res => {
											if (res['status']) {
												//alert("Logged in")
												window.location.reload()
											}
											else {
												alert(res['message'])
											}
										})
										.catch(err => {
											alert("Request failed. Try Again")
										})
								}
		function accept(toFriend) {
									fetch('/profile/request-follow', {
										method: 'POST',
										headers: {
											"Content-Type": "application/json"
										},
										body: JSON.stringify({
											"friend": toFriend,
											"endpoint": "accept"
										})
									})
										.then(response => response.json())
										.then(res => {
											if (res['status']) {
												//alert("Logged in")
												window.location.reload()
											}
											else {
												alert(res['message'])
											}
										})
										.catch(err => {
											alert("Request failed. Try Again")
										})
								}
		function requestFollow(toFriend) {
									fetch('/profile/request-follow', {
										method: 'POST',
										headers: {
											"Content-Type": "application/json"
										},
										body: JSON.stringify({
											"friend": toFriend,
											"endpoint": "new"
										})
									})
										.then(response => response.json())
										.then(res => {
											if (res['status']) {
												//alert("Logged in")
												window.location.reload()
											}
											else {
												alert(res['message'])
											}
										})
										.catch(err => {
											alert("Request failed. Try Again")
										})
								}
		function requestUnfollow(toFriend) {
									fetch('/profile/request-follow', {
										method: 'DELETE',
										headers: {
											"Content-Type": "application/json"
										},
										body: JSON.stringify({
											"friend": toFriend,
											"endpoint": "unfriend",
											"type": "Unfollow"
										})
									})
										.then(response => response.json())
										.then(res => {
											if (res['status']) {
												//alert("Logged in")
												window.location.reload()
											}
											else {
												alert(res['message'])
											}
										})
										.catch(err => {
											alert("Request failed. Try Again")
										})
								}
	</script>
</body>

</html>