<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>MusicBrain</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" href="../static/images/mbicon.ico">
	<link rel="stylesheet" type="text/css" href="../static/css/animate.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/line-awesome.css">
	<link rel="stylesheet" type="text/css" href="../static/css/line-awesome-font-awesome.min.css">
	<link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../static/lib/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="../static/lib/slick/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/responsive.css">
</head>

<body oncontextmenu="return false;">
	<div class="wrapper">
		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="/feed" title=""><img src="../../static/images/mblogo.png" alt=""></a>
					</div>
					<!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Search...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div>
					<!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="/feed" title="MusicBrain">
									<span><img src="../../static/images/icon1.png" alt=""></span>
									Home
								</a>
							</li>
							<li>
								<a href="/profile/{{username}}" title="">
									<span><img src="../../static/images/icon4.png" alt=""></span>
									Profile
								</a>
							</li>
							<li>
								<a href="/profile/trends" title="">
									<span><img src="../../static/images/trends.png" alt=""></span>
									Insights
								</a>
							</li>
							<li>	
								<a href="#" title="" class="not-box-open">	
									<span><img src="../static/images/icon7.png" alt=""></span>	
									Notification	
								</a>	
								<div class="notification-box noti" id="notification">	
									<div class="nt-title">	
										<h4>Setting</h4>	
										<a href="#" title="">Clear all</a>	
									</div>	
									<div class="nott-list">	
										{% for friend in requested %}	
										<div class="notfication-details">	
											<div class="noty-user-img">	
												<img src="../static/images/resources/ny-img1.png" alt="">	
											</div>	
											<div class="notification-info">	
												<h3><img src="https://api.adorable.io/avatars/50/{{friend}}.png"	
														alt=""><a href="/profile/{{friend}}" title="">{{friend}}</a>	
												</h3>	
												<span><button type="submit" value={{friend}}	
														onclick="accept(value);return false">Accept</button></span>	
											</div>	
											<!--notification-info -->	
										</div>	
										{% endfor %}	
										<div class="view-all-nots">	
											<a href="#" title="">View All Notification</a>	
										</div>	
									</div>	
									<!--nott-list end-->	
								</div>	
								<!--notification-box end-->	
							</li>
							<li>
								<a href="/logout" title="">
									<span><img src="../../static/images/logout.png" alt=""></span>
									Logout
								</a>
							</li>
						</ul>
					</nav>
					<!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div>
					<!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							<a href="#" title="">{{username}}</a>
						</div>
						
					</div>
				</div>
				<!--header-data end-->
			</div>
		</header>
		<!--header end-->
		<main style="margin-top: 3em;">
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3">
								<div class="main-left-sidebar" style="margin-top:6em;">
									<div class="user_profile">
										<div class="user-pro-img">
											<img src="https://api.adorable.io/avatars/170/{{username}}.png" alt="">
										</div>
										<h2 style="color: gray;margin-bottom: 1em;font-size:x-large;">@{{username}}</h2>
										<!--user-pro-img end-->
										<div class="user_pro_status">
											{% if is_user %}
												{% if is_friend %}
												<ul class="flw-hr">
													<li><a href="#" title="" class="flww"><i class="la la-plus"></i>
															Following</a>
													</li>
												</ul>
												{% elif is_requested %}
												<ul>
													<li><a href="#" title="" class="flww"><i class="la la-plus"></i>
															Requested</a>
													</li>
												</ul>
												{% else %}
												<ul class="flw-hr">
													<li><button type="submit"value={{username}} class="follow" onclick="request(value);return false">Follow</button>
													</li>
												</ul>
												{% endif %}
											{% endif %}
											<ul class="flw-status">
												<li>
													<span><a href="{{username}}/followers" title="">Followers</a></span>
													<b>{{followers_count}}</b>
												</li>
												<li>
													<span><a href="{{username}}/following" title="">Following</a></span>
													<b>{{following_count}}</b>
												</li>
											</ul>
										</div>
										
										
									</div>
									<!--user_profile end-->
									<!--suggestions end-->
									<div class="tags-sec full-width">
										<div class="cp-sec">
											<img src="../static/images/mblogo.png" alt="">
											<p><img src="../static/images/cp.png" alt="">Copyright 2019</p>
										</div>
									</div>
								</div>
								<!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6">
								<div class="main-ws-sec">
									<div class="user-tab-sec">
										<h3 style="text-transform:initial;">Posts of {{username}}</h3>
										<div class="star-descp">
											<span>{{description}}</span>
										</div>
										<!--star-descp end-->
									</div>
									<!--user-tab-sec end-->
									<div class="product-feed-tab current" id="feed-dd">
										<div class="posts-section">
											<!-- Feedpage start -->
											{% for post in posts %}
	
											<div class="post-bar">
												<div class="post_topbar">
													<div class="usy-dt">
														<img src="https://api.adorable.io/avatars/50/{{post.username}}.png"
															alt="">
														<div class="usy-name">
															<h3>{{ post.username }}</h3>
															<span><img src="../static/images/clock.png"
																	alt="">{{post.timestamp}}</span>
														</div>
													</div>
													<div class="ed-opts">
														<a href="#" title="" class="ed-opts-open"><i
																class="la la-ellipsis-v"></i></a>
														<ul class="ed-options">
															<li><a href="#" title="">Edit Post</a></li>
															<li><a href="#" title="">Unsaved</a></li>
															<li><a href="#" title="">Unbid</a></li>
															<li><a href="#" title="">Close</a></li>
															<li><a href="#" title="">Hide</a></li>
														</ul>
													</div>
												</div>
												<div class="job_descp">
													<!-- <h3>{{post.caption}}</h3> -->
													<!-- <ul class="job-dt">
														<li><a href="#" title="">Full Time</a></li>
														<li><span>$30 / hr</span></li>
													</ul> -->
	
													<iframe style="border-radius: 20px;"
														src="https://open.spotify.com/embed/track/{{post.song_id}}"
														width="100%" height="80" frameborder="0" allowtransparency="true"
														allow="encrypted-media">
													</iframe>
													<p>{{post.caption}}</p>
													<!-- <ul class="skill-tags">
														<li><a href="#" title="">HTML</a></li>
														<li><a href="#" title="">PHP</a></li>
														<li><a href="#" title="">CSS</a></li>
														<li><a href="#" title="">Javascript</a></li>
														<li><a href="#" title="">Wordpress</a></li>
													</ul> -->
												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a href="javascript:void(0)" class="com" id="{{post.post_id}}-like"><i
																	class="fas fa-heart" ></i> Like</a>
														</li>
														<script>
															let like_button_{{post.post_id}} = document.getElementById("{{post.post_id}}-like")
															like_button_{{post.post_id}}.addEventListener('click', () => {
																fetch('https://musicbrain-backend.herokuapp.com/posts/like?post_id={{post.post_id}}', {
																	method: "PUT"
																})
																	.then(response => response.json())
																	.then(res => {
																		if (res['status']) {
																			alert(res['message'])
																		}
																		else {
																			alert(res['message'])
																		}
																	})
																	.catch(err => {
																		alert("Request failed. Try Again" + err)
																	})
															})
														</script>
														<li class="com" style="margin-left: 10px;">
															<span>{{post.like_count}}</span>
														</li>
														<!---
														<li>
															<a id="add-comment-{{post.post_id}}" href="#" class="com"><i
																	class="fas fa-comment-alt"></i> Comment
															</a>
														</li>
													-->
													</ul>
												</div>
											</div>
											<!--post-bar end-->
											
	
											{% endfor %}
											<!-- Feepage end -->
											<div class="top-profiles">
												<div class="pf-hd">
													<h3>Top Profiles</h3>
													<i class="la la-ellipsis-v"></i>
												</div>
												<div class="profiles-slider">
													{% for friend in friends %}
													<div class="user-profy">
														<img src="https://api.adorable.io/avatars/50/{{friend}}.png" alt="">
														<h3>{{friend}}</h3>
														<span></span>
														<ul>
															<li><a href="#" title="" class="followw">Follow</a></li>
														</ul>
														<a href="#" title="">View Profile</a>
													</div>
													{% endfor %}
													<!--user-profy end-->
												</div>
												<!--profiles-slider end-->
											</div>
											<!--top-profiles end-->
											<!-- <div class="post-bar">											comment-section end -->
											<!-- </div> -->
											<!--posty end-->
										</div>
										<!--posts-section end-->
									</div>
									<!--product-feed-tab end-->
								</div>
								<!--main-ws-sec end-->
							</div>
							<div class="col-lg-3">
								<!-- Here recommendations will come -->
								<iframe src="https://open.spotify.com/embed/playlist/{{playlist_id}}" width="25%"
								height="600" frameborder="0" allowtransparency="true" allow="encrypted-media"
								style="position: fixed;height: 65%;"></iframe>
								<button type="submit" style="
										width: 200px;
										height: 40px;
										margin-left: 5%;
										background: #e44d3a;
										color: white;
										position: fixed;
										margin-top: 32%;
										border-radius: 5px;"
										onclick="reco()">Generate recommendations</button>
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div>
			</div>
		</main>
	</div>
	<!--theme-layout end-->
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/popper.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/lib/slick/slick.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
	<script>
		function request(toFriend)
		{
			fetch('/profile/request-follow', {
				method: 'POST',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"friend": toFriend,
					"endpoint": "new"
				})
			})
				.then(response => response.json())
				.then(res => {
					if (res['status']) {
						//alert("Logged in")
						window.location.reload()
					}
					else {
						alert(res['message'])
					}
				})
				.catch(err => {
					alert("Request failed. Try Again")
				})
		}
		function reco(){
			// refresh reco
			console.log("Refresh reco")
			fetch('/profile/generate', {
				method: 'POST',
				headers: {
					"Content-Type": "application/json"
				},
				body: JSON.stringify({
					"user": "Username"
				})
			})
				.then(response => response.json())
				.then(res =>{
					if(res['status']){
						alert("Recommendations refreshed. Also a playlist will be created on spotify")
						window.location.reload()
						console.log(res)
					}
				})
				.catch(err => console.log(err))
		}
	</script>
</body>

</html>